<div class="aboutus-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-3 wow fadeInLeft">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
                        vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.This is Photoshop's version of Lorem
                        Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                        auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                    <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                        auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                    <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
                        auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec
                        sagittis sem</p>
                    <a routerLink="/about" class="aboutus-more">read more</a>
                </div>
            </div>
            <div class="col-lg-6 mt-3 wow fadeInRight">
                <div class="about-img"> <img src="assets/images/about.jpg" class="full-width" alt="img"> </div>
            </div>
        </div>
    </div>
</div>