<div class="section-padding contact-form-map">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-header style-left">
                    <div class="section-heading">
                        <h3 class="text-custom-black">Get In Touch</h3>
                        <div class="section-description">
                            <p class="text-light-dark">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        </div>
                    </div>
                </div>
                <form class="mb-md-80" (ngSubmit)="onSubmit()" #contactForm="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" [(ngModel)]="model.name"
                                    class="form-control form-control-custom" placeholder="Name" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" [(ngModel)]="model.email"
                                    class="form-control form-control-custom" placeholder="Email I'd" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="subject" [(ngModel)]="model.subject"
                                    class="form-control form-control-custom" placeholder="Subject" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="phone" [(ngModel)]="model.phone"
                                    class="form-control form-control-custom" placeholder="Phone No." required="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="message" [(ngModel)]="model.message" rows="5"
                                    class="form-control form-control-custom" placeholder="Message"
                                    required=""></textarea>
                            </div>
                            <button type="submit" class="btn-first btn-submit"
                                [disabled]="!contactForm.form.valid">Submit</button>
                            <re-captcha (resolved)="resolved($event)" name="recaptcha" [(ngModel)]="model.recaptcha"
                                siteKey="6LeazcwcAAAAAFTLy71rIECmWQw3mGHh-G7ELJtF" size="invisible"></re-captcha>
                        </div>
                        <div class="col-md-12">
                            <!-- Form Messages -->
                            <div class="service-error w-100" *ngIf="error">
                                <ngb-alert type="danger" class="mb-0 w-100 mt-3" [dismissible]="false">
                                    <strong>Oops!</strong> Something bad happened. Please try again later.
                                </ngb-alert>
                            </div>
                            <div [hidden]="!submitted" class="contact-message w-100">
                                <div *ngIf="model.id" class="contact-success w-100 mt-3">
                                    <ngb-alert type="success" class="mb-0 w-100" [dismissible]="false">
                                        <strong>Success!</strong> Contact form has been successfully submitted.
                                    </ngb-alert>
                                </div>
                            </div>
                            <!-- Form Messages -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5">
                <div class="contact-map full-height">
                    <iframe title="contactmap" class="full-height"
                        src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>